<!DOCTYPE html>
<head>
	<title>CEC</title>
	
	<link href="/static/css/bootstrap.min.css" rel="stylesheet"></link>
	<link href="/static/css/new.css" rel="stylesheet"></link>
	


</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" 
	role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand font0" href="index.html">College Of Engineering Chengannur</a>
			</div>
			<div class="navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="/about">About</a>
					</li>
					<li>
						<a href="/department">Department</a>
					</li>
					<li>
						<a href="/contact">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav><br><br><br>
	<div>
		<h1>CONTACTS</h1><br>
		<h4>College Address</h4><br>
		<p>College of Engineering Chengannur<p/>
		<p>Alapuzha District</p>
		<p>Kerala</p>
		<p>PIN 689121</P>
		<P>TEL: +91-479- 2165706, 2454125, 2456046, 2451424</p><br>

<p>FAX: +91-479-2451424</p>
<p>e-mail: principal@ceconline.edu</p><br>

<p>CEC is located in Chengannur, a beautiful town in Kerala. Chengannur is situated at the extreme east part of Alappuzha district. Main Central Road (popularly known as the M.C. Road) passes by the college. It is well connected to other cities by rail and road. The exact location of the college is shown on the map below.</p><br>

<h4>Distances to Nearest Transits:</h4><br>

<p>Bus Stand: Chengannur (1/2 km)</p>
<p>Railway Station: Chengannur - CNGR (1 km)</p>
<p>Airports: Cochin International Airport - COK (110 km), Trivandrum International Airport - TRV (120 km)</p>

	</div><br><br>
<div>
	<img src="images/map.jpg">
</div><br><br>
</body>
</html>